@import "tailwindcss";

@theme{
  
   --color-background: rgb(14, 14, 22);
   --color-main-color:rgb(0, 255, 255);
   --color-foreground:rgb(255, 255, 255);
   --color-transition:rgb(7, 20, 61);
   --breakpoint-md2:500px;
}
:root {
   --bg-color: rgb(14, 14, 22);
   --main-color:rgb(0, 255, 255);
   --text-color:rgb(255, 255, 255);
   --transition:rgb(14, 27, 39);
}
body{
  background-color: #171717;
}
.char{
  transform: translateY(-130px);
  transition: transfrom .5;
  
}
.loader {
  width: 50px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:cyan;
  mask: repeating-conic-gradient(#0000 0deg, #000 1deg 70deg, #0000 71deg 90deg),
    radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l5 1s infinite;
}
#nova{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  opacity: 0;
}
@keyframes l5 {
  to {
    transform: rotate(0.5turn);
  }
}

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background:beige;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000000;
}
.box{
  background-color: var(--bg-color);
}
@layer utilities {
   .main-color{
      color:#00ffff;
   }
   .main-background-color{
    background-color: var(--bg-color);
   }
   .text-color{
    color: white;
   }
   .scrollbar-hide{
    scrollbar-width: none;
   }
}
.sweetAlert {
  border: 0.5px solid cyan !important;
  border-radius: 20px !important;
}

.sweet_button {
  width: 300px;
  padding: 15px 20px !important;
  font-size: 16px !important;
  border-radius: 12px !important;
  color: #000;
  font-weight: 700;
}