@import "tailwindcss";

@theme{
  
   --color-background: rgb(14, 14, 22);
   --color-main-color:rgb(0, 255, 255);
   --color-foreground:rgb(255, 255, 255);
   --color-transition:rgb(7, 20, 61);
}
:root {
   --bg-color: rgb(14, 14, 22);
   --main-color:rgb(0, 255, 255);
   --text-color:rgb(255, 255, 255);
   --transition:rgb(14, 27, 39);
}
body{
  background-color: #171717;
}
.loader {
  width: 50px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:cyan;
  -webkit-mask: repeating-conic-gradient(#0000 0deg, #000 1deg 70deg, #0000 71deg 90deg),
    radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l5 1s infinite;
}

@keyframes l5 {
  to {
    transform: rotate(0.5turn);
  }
}

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000000;
}
