.solutions{
       background-color: var(--color-background);
}
.cards{
    background-color: rgba(0, 0, 0, 0.253);
    padding: 2rem;
    border: 1px solid var(--main-color);
    border-radius: 20px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}
.cards_container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px , 1fr));
    gap: 10px;
}
.solution_icon{
   margin-bottom: 0.5rem;
}
.cards::after{
    content: "";
    background-color: var(--main-color);
    width: 40px;
    height: 50px;
    position: absolute;
    top:30;
    left: 30;
    z-index: -1;
    filter: blur(30px);
}
.solution_body{
    animation-name: intro;
    animation-timeline: view(40% auto);
}
.cards{
    animation-name: card;
    animation-timeline: view();
}
@keyframes intro {
    from{
        opacity: 0;
        transform: translateX(-40px);
    }
    to{
        opacity: 1;
    }
}
@keyframes card {
     from{
        opacity: 0;
        transform: translateX(-40px);
    }
    to{
        opacity: 1;
    }
}