.header{
    background-color: #0e0e16 ;
}
.tagline{
    position: relative;
    padding-left:1rem;
    margin-bottom: 20px;

}
.tagline::after{
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: cyan;
    top: 12;
    left: 5;
    border-radius: 50%;
}
.tabsContainer{
  background-color: black;
  position: fixed;  
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  color: white; 
}
.close{
    align-self: flex-start;
    margin-right: 3rem;
    margin-top: 1rem;
}
.tabs{
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    margin: 30px;
}
.hero{
    position: relative;
    z-index: 2;
    animation: run 0.7s ease-in-out;
}
.hero::after{
    content: "";
    width: 20rem;
    height: 10rem;
    background-color: rgba(15, 182, 248, 0.403);
    position: absolute;
    top: 50;
    z-index: -1;
    filter: blur(50px);
}
@keyframes run {
    0%{
        opacity: 0;
        transform: translateY(40px);
    }
    100%{
        opacity: 1;
    }
}
.nav{
    animation: navbar 0.7s ease-in-out;
}
@keyframes navbar {
    from{
        opacity: 0;
        transform: translateY(-40px);
    }
}