.container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px , 1fr));
    gap: 10px;
    padding: 10px;
}
.card{
    width: 100%;
    height: 500px;
    border-radius: 10px;
}